.title {
  font-family: "Alata";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  color: #4f4f4f;
  margin: 0;
  padding: 10px 0px;
}

.content {
  padding: 0 30px;
}
