.App {
  text-align: center;
  background: #e5e5e5;
  width: 100%;
  min-height: 100vh;
}

main {
  padding-left: 100px;
  padding-top: 60px;
  width: 90%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.h3 {
  font-family: "Alata";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #4f4f4f;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  display: flex;
  list-style: none;
  margin-top: 40px;
}

.menu li {
  margin-right: 15px;
}

.menu li a {
  color: black;
}
